<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
         <h4 class="hidden"><span id="js-rotating"> 自强不息 </span>  <span id="js-rotating"> 止于至善 </span></h4>
    </div>
    <div class="user-content center-align">
        <p>
           死磕 是不管自己怎么样，都要把事儿做好
        </p>
        <p>
           自律 是让自己变得更好，事情自然就会好
        </p>
    </div>
    
